<h1>About me</h1>
<mat-divider></mat-divider>
<p class="mono">
  Hi, I'm Caio Groff.
  <br /><br />
  I'm a software developer focused on front-end development and currently pursuing a Computer
  Science degree at the University of São Paulo (USP).
  <br /><br />
  I previously worked as an intern at IBM Brazil Research, where I collaborated on front-end
  applications and research projects, gaining experience with teamwork, modern web technologies, and
  scalable development workflows.
  <br /><br />
  Besides programming, I also have a strong background in art and design. I enjoy combining
  technical and creative skills to build clean, intuitive, and visually polished user interfaces.
  <br /><br />
  My main interests include:<br />
  • Front-end Engineering<br />
  • UI/UX Design<br />
  • Game Development<br />
  • Creative Coding
  <br /><br />
  If you'd like to collaborate or get in touch, feel free to contact me.
  <br /><br />
  Instagram: <a href="https://www.instagram.com/griffing_art" target="_blank">Art acc</a> Email:
  <a href="mailto:caio.groff@gmail.com">caio.groff@gmail.com</a>
</p>
