<mat-toolbar>
  <span class="logo ml-lg" (click)="scroll.scrollToTop()">Caio Groff</span>
  <a class="ml-md" href="https://linkedin.com/in/caio-groff" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>

  <a class="ml-md" href="https://github.com/caiogroff-droid" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <span class="spacer"></span>
  <button mat-button (click)="scroll.scrollTo('about')">Sobre</button>
  <button mat-button (click)="scroll.scrollTo('projects')">Projetos</button>
  <button mat-button (click)="scroll.scrollTo('skills')">Skills</button>
  <button class="mr-lg" mat-button (click)="scroll.scrollTo('contact')">Contato</button>
</mat-toolbar>
